


.proffer {
}
.proffer__wrap{
    padding: 50px 0;
}
.proffer__title {
    margin-bottom: 10px;
}
.proffer__sub-title {
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-weight: 600;
    line-height: 133.333333%; /* 32/24 */
    margin-bottom: 30px;
}
.proffer__text {
    @include text_p;
    text-align: center;
    margin-bottom: 23px;
}
.proffer__link-btn {
    margin: 0 auto;
    font-weight: 600;
}

@media(max-width: 584px){
    .proffer__wrap{
        padding: 20px 0;
    }
    .proffer__sub-title{
        font-size: 18px;
    }
}