


.back-to-top{
    position: fixed;
    right: 10%;
    bottom: -90px;
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.back-to-top.active{
    bottom: 90px;
}

@media(max-width: 425px){
    .back-to-top.active{
        bottom: 90px;
        display: none;
    }
}

