.bottom-link{
    width: 195px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;

    background-color: rgb(255, 199, 65);
    border-radius: 5px;
    cursor: pointer;


    a{
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: inherit;
        line-height: 150%; /* 24/16 */
    }

    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: #ffba1a;
    }
}