

.title-h2{
    color: #222;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.666667%; /* 42/36 */
    text-transform: uppercase;
}